.container
    .content
        header.page-header
            h1 City Bug
                small.subtitle bug around the world
            h2
                <a href="/">Back</a>    
        script

            var socket = io.connect();
            socket.on('connect', function () {
            });
            function sendMessage() {
                socket.emit('user message');
            }
        form(action='/api/reports', method='post', enctype="multipart/form-data")
            fieldset
                label(for="title") Title
                .input
                    input(type='text', id='title', name='title')
                label(for="thumbnail_image") Thumbnail image
                .input
                    input(type='file', id='thumbnail_image', name='thumbnail_image')
                label(for="full_image") Full image
                .input
                    input(type='file', id='full_image', name='full_image')
                label(for="latitude") Latitude
                .input
                    input(type='text', id='lat', name='lat')
                label(for="longitude") Longitude
                .input
                    input(type='text', id='lng', name='lng')
                label(for="note") Note
                .input
                    input(type='text', id='note', name='note')
                label(for="category1") category1
                .input
                    input(type='text', name='categories')
                label(for="category2") category2
                .input
                    input(type='text', name='categories')
            fieldset
                .actions
                    input(type='submit', value="Save", onclick='sendMessage()')
