.container
    .content
        header.page-header
            h1 City Bug
                small.subtitle bug around the world
        form(action='/api/user/sign_in', method='post')
            fieldset
                label(for="username") Username
                .input
                    input(type='text', id='username', name='username', value='admin')
                label(for="password") Password
                .input
                    input(type='text', id='password', name='password', value='qwer4321')
                
            fieldset
                .actions
                    input(type='submit', value="Save")
