.container
    .content
        header.page-header
            h1 City Bug
                small.subtitle bug around the world
            h2
                <a href="/">Back</a>

        h2= text
        h2= user
